
.img-filter{
    -webkit-filter:  brightness(50%);
    filter: brightness(50%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}

.title-filter{
    -webkit-filter:  brightness(100%);
    filter: brightness(100%);
    margin-top: -80px;
    margin-bottom: 2.7rem;
    font-size: 15px;
    width: fit-content;

}
.img-filter:hover{
    filter: brightness(90%);

}
/* .title-filter:hover {
    filter: brightness(%);

} */