.img-filter{
    -webkit-filter:  brightness(50%);
    filter: brightness(50%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}
.title-filter{
    -webkit-filter:  brightness(100%);
    filter: brightness(100%);
    margin-top: -80px;
    margin-bottom: 2.7rem;
    font-size: 15px;
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 42px;
    line-height: 1.5!important;

}
.img-filter:hover{
    filter: brightness(90%);

}
